body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.mod-root .workspace-split.mod-horizontal > div:not(:first-of-type) {
	background-color: var(--background-primary);
  }
  .mod-root .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
	background-color: var(--background-secondary-alt);
  }

  .is-translucent:not(.is-fullscreen) .mod-root .workspace-split.mod-horizontal > div:not(:first-of-type) {
	border-top: 1px solid var(--divider-color);
	background-color: var(--divider-color) !important;
  }
  .is-translucent:not(.is-fullscreen) .mod-root .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
	background-color: var(--divider-color);
	--divider-color: transparent ;
  }
  
  .workspace-leaf-resize-handle {
	background-color: transparent;
	border: none !important;
	overflow: visible;
  }
  
  .workspace-leaf-resize-handle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent !important;
	min-width: 8px;
	min-height: 8px;
  }
  
  .workspace-leaf-resize-handle::after {
	content: "";
	position: absolute;
	border-radius: 3px;
	width: 50%;
	height: 50%;
	transition: background-color 150ms ease-out;
  }
  
  .workspace-leaf-resize-handle:hover::after {
	background-color: var(--interactive-accent) !important;
  }
  
  .markdown-source-view .markdown-embed,
  .markdown-embed {
	--border-color: var(--background-modifier-border);
	border: none;
	background-color: var(--background-secondary);
	margin-bottom: 0.75rem;
	border-radius: var(--corner-radius);
	padding: 0;
	overflow: hidden;
  }
  
  .markdown-embed-title {
	font-weight: var(--inline-title-weight);
	font-size: 1.75em;
	font-style: var(--inline-title-style);
	font-variant: var(--inline-title-variant);
	font-family: var(--inline-title-font);
	letter-spacing: -0.015em;
	padding: 0.25em 1rem;
	color: var(--color-accent);
	background-color: var(--background-secondary-alt);
	white-space: break-spaces;
  }
  
  .markdown-embed-link {
	color: var(--text-muted);
  }
  
  .markdown-embed-link:hover {
	color: var(--text-normal);
  }
  
  .markdown-embed-content.markdown-embed-page {
	padding: 1rem;
	padding-bottom: 0;
	max-height: 50vh;
	overflow: auto;
  }
  
  .inline-title {
	--inline-title-color: var(--color-accent);
  }
  
  .is-translucent:not(.is-fullscreen) {
	--divider-color: #bdbdbd3b;
  }
  .is-translucent:not(.is-fullscreen) .mod-right-split :not(.mod-top) .workspace-tab-header-container,
  .is-translucent:not(.is-fullscreen) .mod-right-split .workspace-leaf {
	background-color: var(--background-secondary);
  }
  .is-translucent:not(.is-fullscreen) .mod-left-split {
	--background-secondary: #2a2a2abe;
	--background-modifier-form-field: #262626be;
	--background-modifier-border: #363636be;
  }
  .is-translucent:not(.is-fullscreen) .mod-left-split :not(.mod-top) .workspace-tab-header-container,
  .is-translucent:not(.is-fullscreen) .mod-left-split .workspace-tab-container {
	border-right: 1px solid var(--divider-color);
  }
  .is-translucent:not(.is-fullscreen) .workspace-split.mod-root .workspace-tab-header.is-active::before, .is-translucent:not(.is-fullscreen) .workspace-split.mod-root .workspace-tab-header.is-active::after {
	--tab-outline-color: #bdbdbd15;
	--tab-outline-width: 1px;
  }
  .is-translucent:not(.is-fullscreen) .workspace-ribbon.mod-left.is-collapsed {
	border-right-color: var(--divider-color);
  }
  .is-translucent:not(.is-fullscreen) .workspace-tabs:not(.mod-top):not(.mod-root) .workspace-tab-header-container {
	background-color: transparent;
	border-bottom: none;
	border-radius: 0;
	margin: 0;
	background-color: var(--divider-color);
	border-right: none;
  }
  .is-translucent:not(.is-fullscreen) .workspace-split {
	background-color: transparent;
  }
  
  .is-translucent:not(.is-fullscreen) .titlebar, .is-translucent .app-container {
	background-color: transparent !important;
  }
  .is-translucent:not(.is-fullscreen) .titlebar .workspace-split.mod-root, .is-translucent .app-container .workspace-split.mod-root {
	background-color: transparent !important;
  }
  
  .is-hidden-frameless:not(.is-fullscreen) .titlebar-button-container.mod-right {
	background-color: transparent !important;
  }
  
  .view-header {
	margin: 0;
	padding: 0 var(--size-4-3);
  }
  .graph-view.color-line {
	color: rgba(189, 189, 189, 0.1450980392);
  }
  
  .markdown-rendered mark,
  .cm-s-obsidian span.cm-formatting-highlight,
  .cm-s-obsidian span.cm-highlight,
  .search-result-file-matched-text {
	background-color: hsla(var(--highlight-hue), 100%, 50%, 0.2);
	outline: 1px solid hsla(var(--highlight-hue), 90%, 50%, 0.85);
	padding: 0 0.15em;
	border-radius: 3px;
	box-shadow: 0 0 10px hsla(var(--highlight-hue), 90%, 50%, 0.75);
  }
  
  body {
	--lucide-x: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
	--lucide-minus: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
	--lucide-maximize: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M8 3H5a2 2 0 0 0-2 2v3'%3E%3C/path%3E%3Cpath d='M21 8V5a2 2 0 0 0-2-2h-3'%3E%3C/path%3E%3Cpath d='M3 16v3a2 2 0 0 0 2 2h3'%3E%3C/path%3E%3Cpath d='M16 21h3a2 2 0 0 0 2-2v-3'%3E%3C/path%3E%3C/svg%3E");
  }
  
  :is(.mod-linux, .mod-windows) .titlebar-button:not(.mod-logo) svg {
	-webkit-mask-size: cover;
	background-color: var(--icon-color);
	color: transparent;
	width: var(--icon-s);
	height: var(--icon-s);
  }
  
  :is(.mod-linux, .mod-windows) .titlebar-button:not(.mod-logo) {
	padding: 0 var(--size-4-3);
  }
  
  :is(.mod-linux, .mod-windows) .titlebar-button.mod-minimize svg {
	-webkit-mask-image: var(--lucide-minus);
  }
  
  :is(.mod-linux, .mod-windows) .titlebar-button.mod-maximize svg {
	-webkit-mask-image: var(--lucide-maximize);
  }
  
  :is(.mod-linux, .mod-windows) .titlebar-button.mod-close svg {
	-webkit-mask-image: var(--lucide-x);
  }
  
  .prompt-input-container {
	background-color: var(--background-secondary-alt);
  }
  
  input.prompt-input {
	background-color: transparent;
	font-size: larger;
  }
  
  .suggestion-item.is-selected {
	color: var(--color-accent);
  }
  
  body:not(.is-mobile) .modal.mod-sidebar-layout .community-modal-sidebar .community-item {
	border: none;
	cursor: pointer;
	transition: background-color 100ms ease-out;
  }
  body:not(.is-mobile) .modal.mod-sidebar-layout .community-modal-sidebar .community-item:hover:not(.is-selected) {
	background-color: var(--background-secondary-alt);
  }
  body:not(.is-mobile) .modal.mod-sidebar-layout .community-modal-sidebar .community-item.mod-active {
	outline: 1px solid var(--color-accent);
  }
  body:not(.is-mobile) .modal.mod-sidebar-layout .community-modal-sidebar:not(:last-child) {
	position: absolute;
	top: 50px;
	bottom: 0;
  }
  body:not(.is-mobile) .modal.mod-sidebar-layout .community-modal-sidebar:last-child {
	padding-top: 0;
  }
  body:not(.is-mobile) .modal.mod-sidebar-layout .community-modal-sidebar:last-child .community-modal-controls {
	padding-top: 1em;
	background-color: var(--background-secondary-alt);
  }
  body:not(.is-mobile) .modal.mod-sidebar-layout .community-modal-info {
	margin-left: 287px;
  }
  body:not(.is-mobile) .modal.mod-sidebar-layout .modal-setting-nav-bar {
	background-color: var(--background-secondary-alt);
	border: none;
  }
  body:not(.is-mobile) .modal.mod-sidebar-layout .community-modal-details.is-loading::before {
	top: 50px;
  }

.theme-dark.pt-color-scheme-raven-dt {
	--grey100: hsl(0 0% 24%);
	--grey200: hsl(0 0% 42%);
	--grey300: hsl(0 0% 62%);
	--red100: hsl(358 51% 27%);
	--red200: hsl(359 36% 48%);
	--red300: hsl(2 37% 67%);
	--orange100: hsl(24 55% 23%);
	--orange200: hsl(24 55% 40%);
	--orange300: hsl(23 56% 61%);
	--yellow100: hsl(46 48% 19%);
	--yellow200: hsl(45 48% 33%);
	--yellow300: hsl(45 47% 49%);
	--green100: hsl(122 35% 20%);
	--green200: hsl(121 31% 35%);
	--green300: hsl(121 31% 54%);
	--mint100: hsl(162 41% 19%);
	--mint200: hsl(161 37% 34%);
	--mint300: hsl(161 35% 51%);
	--cyan100: hsl(196 47% 21%);
	--cyan200: hsl(195 47% 36%);
	--cyan300: hsl(195 47% 56%);
	--blue100: hsl(232 44% 32%);
	--blue200: hsl(229 27% 49%);
	--blue300: hsl(226 29% 67%);
	--purple100: hsl(263 45% 32%);
	--purple200: hsl(259 24% 50%);
	--purple300: hsl(256 25% 68%);
	--pink100: hsl(330 43% 27%);
	--pink200: hsl(332 31% 47%);
	--pink300: hsl(333 30% 66%);
	--color-grey-base-hsl: 0 0% 24%;
	--color-red-base-hsl: 358 51% 27%;
	--color-orange-base-hsl: 24 55% 23%;
	--color-yellow-base-hsl: 46 48% 19%;
	--color-green-base-hsl: 122 35% 20%;
	--color-mint-base-hsl: 162 41% 19%;
	--color-cyan-base-hsl: 196 47% 21%;
	--color-blue-base-hsl: 232 44% 32%;
	--color-purple-base-hsl: 263 45% 32%;
	--color-pink-base-hsl: 330 43% 27%;
	--text-normal: hsl(0 0% 80%);
	--text-muted: hsl(0 0% 70%);
	--text-faint: hsl(0 0% 50%);
	--background-primary: hsl(0 0% 13%);
	--background-primary-alt: hsl(0 0% 18%);
	--background-secondary: hsl(0 0% 7%);
	--background-secondary-blur: hsl(0 0% 7% / 80%);
	--background-secondary-alt: hsl(0 0% 5%);
	--shadow-s: hsl(0 0% 0% / 10%) 0 1px 2px 0;
	--shadow-l:
	  hsl(0 0% 0% / 5%) 0 1px 2px,
	  hsl(0 0% 0% / 5%) 0 2px 4px,
	  hsl(0 0% 0% / 5%) 0 4px 8px,
	  hsl(0 0% 0% / 5%) 0 8px 16px;
	--h1-color: var(--color-orange);
  	--h2-color: var(--color-green);
  	--h3-color: var(--color-cyan);
  	--h4-color: var(--color-blue);
  	--h5-color: var(--color-red);
  	--h6-color: var(--color-yellow);
  }